<%= render :partial => @post %>

<p>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Delete', @post, :method => :delete, :confirm => "Fuck up this post?!" %> |
  <%= link_to 'Back', posts_path %> |
  <%= link_to 'See All Posts', posts_path %>
</p>

<dl>
  <dt>Tags</dt>
  <% @post.tags.each do |tag| %>
  <dd><%=h tag.name %></dd>
  <% end %>
</dl>

<h2>Comments</h2>
<div id="comments">
  <%= render :partial => @post.comments %>
</div>

<% remote_form_for [@post, Comment.new] do |f| %>
  <p>
    <%= f.label :body, "New comment" %><br />
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add comment" %></p>
<% end %>
